@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #1e40af;
  --color-accent: #f59e0b;
  --color-dark: #1f2937;
  --color-light: #f3f4f6;
  --font-sans: Inter, sans-serif;
}

/* Base styles */
@layer base {
  body {
    @apply bg-light text-dark font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-dark;
  }
}